body {
  background: #ffffff;
  margin: 0px;
}

.container {
  margin: 0px auto;
  max-width: 1440px;
}

.header-block {
  margin: 1vw 0vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: inline-block;
  font-family: monospace;
  font-size: 18px;
  font-weight: 400;
}

.search, .basket {
  display: none;
  width: 5vw;
}

.header-block p {
  display: none;
  font-family: "Arial Narrow", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 0.2em;
  color: #000000;
}

.logo {
  display: inline-block;
  width: 17vw;
  margin: 0px;
}

nav {
  margin-right: 1vw;
  display: inline-block;
}

ul {
  display: flex;
  align-items: center;
  margin: 0vw;
  padding: 0vw;
  gap: 2vw;
}

.top {
  position: relative;
  display: flex;
  justify-content: center;
}

.light_bg {
  width: 100%;
}

.sneakers {
  width: 37vw;
  max-width: 533px;
  position: absolute;
  bottom: 0px;
}

.d_h2 {
  position: absolute;
  max-width: 1241px;
  width: 86vw;
  font-family: monospace;
  font-size: 56px;
  font-weight: 400;
  line-height: 78px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: black;
}

.half_1,
.half_2 {
  display: none;
  position: absolute;
  max-width: 1241px;
  width: 70vw;
  font-family: monospace;
  font-size: 56px;
  font-weight: 400;
  line-height: 78px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: black;
}

.abreast { 
  display: flex;
  gap: 2vw;
  margin: 5vw 8vw 5vw 5vw;
  align-items: center;
}

.abreast img {
  width: 20vw;
}

.abreast p {
  margin: 0px;
  font-family: "Arial Narrow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.04em;
  line-height: 56px;
  color: #000000;
}

.bottom {
  position: relative;
  display: flex;
}

.bg_dark {
  width: 100%;
  height: auto;
}

.bottom h2 {
  position: absolute;
  margin: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  max-width: 1030px;
  font-family: monospace;
  font-weight: 400;
  font-size: 56px;
  line-height: 78px;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
}

.abreast-bottom {
  display: flex;
  gap: 6vw;
  margin: 4vw;
  align-items: flex-start;
}

.abreast-bottom img {
  width: 42vw;
  max-width: 606px;
}

.text strong {
  font-family: "Arial Narrow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.04em;
  line-height: 56px;
  color: #000000;
}

.text p {
  font-family: "Arial Narrow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 38px;
  color: #000000;
}

@media screen and (max-width: 1440px) {
  .d_h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
  }
}

@media screen and (max-width: 1200px) {
  .d_h2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
  }

  .bottom h2 {
    font-size: 42px;
    font-weight: 400;
    line-height: 52px;
  }

  .abreast p {
    font-size: 32px;
    letter-spacing: 0.04em;
    font-weight: 300;
    line-height: 32px;
  }

  .text strong {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.04em;
    line-height: 48px;
  }

  .text p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 32px;
  }
}

@media screen and (max-width: 800px) {
  /*суцільний текст*/
  .d_h2 {
    display: none;
  }

  /*розділений текст*/
  .half_1,
  .half_2 {
    display: block;
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0.03em;
  }

  .half_1 {
    top: 0;
  }

  .half_2 {
    bottom: 0;
  }

  .sneakers {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 288px;
  }

  .light_bg {
    height: 547px;
  }

  .abreast {
    margin: 7vw;
  }

  .abreast p {
    font-size: 24px;
    letter-spacing: 0.04em;
    font-weight: 300;
    line-height: 32px;
  }

  .bg_dark {
    height: 437px;
  }

  .bottom h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
  }

  .text strong {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

  .text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media screen and (max-width: 550px) {
  .abreast p {
    font-size: 20px;
    line-height: 26px;
  }

  .bottom h2 {
    width: 85vw;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

  .header-block p {
    display: block;
  }

  .header-block {
    margin: 1vw 3vw;
  }

  .logo {
    text-align: center;
    width: 40vw;
  }

  .search, .basket {
    display: block;
  }

  .header form,
  a {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  /*розділений текст*/
  .half_1,
  .half_2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
  }

   .bottom h2 {
    width: 85vw;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

  .abreast {
    display: block;
  }

  .abreast img {
    width: 85vw;
    margin-top: 10vw;
    margin-bottom: 7vw;
  }

  .abreast-bottom {
    display: block;
  }

  .abreast-bottom img {
    width: 85vw;
    margin-top: 10vw;
    margin-bottom: 7vw;
  }

  .bg_dark {
    margin-top: 7vw;
  }
}
